# framework Web
Flask>=3.0
flask-cors>=4.0

# Interface desktop
Eel>=0.16

# Banco de dados
psycopg2-binary>=2.9

# Variáveis de ambiente
python-dotenv>=1.0

# Manipulação de PDF
pypdf>=4.0
reportlab>=4.1

# Extrator de metadados json
sqlalchemy
dotenv
psycopg2 # Não foi usada mas é importante instalar no ambiente virtual